@{
    ViewBag.Title = "Форма на лице";
}

<h2>Изберете форма на лице</h2>
<ul id="nav-faceshape" class="clearfix">
    <li id="fs-circle" class="greyscale left"><a href="../home/search?faceShape=кръгло">Кръгла форма</a></li>
    <li id="fs-square" class="greyscale left"><a href="../home/search?faceShape=овално">Квадратна форма</a></li>
    <li id="fs-oval" class="greyscale left"><a href="../home/search?faceShape=квадратно">Овална форма</a></li>
</ul>
