<article id="aboutUs">
    <section>
	<h2>Development</h2>
	<article>
		<h3>KeyDown Team</h3>
		<img src="Images/keydownLogo.PNG" alt="KeyDown Team Logo" width="200" height="50" />
		<p>Pavel Kolev</p>
		<p>Atanas Keranov</p>
		<p>You can contact us at keydownteam[at]gmail.com</p>
	</article>
</section>
<section>
	<h2>Artwork</h2>
	<article>
		<h3>Kristina Kovacheva</h3>
		<img src="Images/menu.png" alt="Angry Chicken" width="400" height="300" />
		<p>You can see more of Kristina's work at <a href="http://omorfia.daportfolio.com/">http://omorfia.daportfolio.com/</a></p>
	</article>
	<article>
		<h3>Acho - ArtWrath</h3>
		<img src="Images/achoOPGG.PNG" alt="Chicken" width="521" height="300" />
		<p>You can see more of Acho's work at <a href="http://www.youtube.com/user/artwrath">http://www.youtube.com/user/artwrath</a></p>
	</article>
    <article>
		<h3>Milen Dimitrov</h3>
		<img src="Images/angryChick.PNG" alt="Angry Chicken" width="300" height="300" />
		<p>You can see more of Milen's work at <a href="http://se7enfaces.daportfolio.com/">http://se7enfaces.daportfolio.com/</a></p>
	</article>
    <article>
		<h3>Viktoria Cvetanova</h3>
		<img src="Images/viki.PNG" alt="Chicken" width="399" height="300" />
	</article>
	<article>
		<h3>Adriana Yordanova</h3>
		<img src="Images/adiOPGG.PNG" alt="Chicken" width="447" height="300" />
	</article>
	<article>
		<h3>Viktor Markov</h3>
		<img src="Images/unitsSquad.PNG" alt="Squad of Units" width="610" height="300" />
	</article>
</section>
</article>