<article id="howToArticle">
    <h1>Brief story</h1>

    <p>Once upon a time, in a land far, far away,
    there were farmers who led an ordinary life and took care of their farm
    animals. Unfortunately, a devastating disease spread across this peaceful land
    called Gangnamland. The only cure for the disease was
    the extremely delicious Gangnam Salt obtained in the
    Salt Mines of Gangnamland. In time, the salt became
    really expensive, so the farmers started fighting each other to obtain it. They
    fought with every means possible… they started using their farm animals - pigs
    and chickens. In their desperation, the farmers even created an unseen and
    powerful weapon - the Big Bomb. It was a bomb filled with homemade alcohol
    called Parvak, which obliterated everything in its
    wake. It is up to you to help the farmers defeat their enemies and save their lives.</p>

    <h1>Game guide</h1>

    <h2>Step 1 - Creating and joining a game</h2>

    <p>Create a new multiplayer game and share the
    unique game ID with a friend. Wait for your friend to join the game using your
    game ID. The game will start automatically once your friend is ready for action.
    If you are forever alone like us you can always join a random game.</p>

    <h2>Step 2 - Build phase</h2>

    <p>In your build phase you have the option to
    place two different types of units on the battlefield – Salt Mines and Armored
    Chickens.</p>

    <p>The Salt Mine doesn’t have any attack or
    defense power, but generates $10 at the end of every turn and it costs only $6.
    However, undefended Salt Mines are just what your enemies
    hope for, so they can destroy them effortlessly and win the game.</p>

    <p>In order to protect your
    Salt Mines you can choose to place Armored Chickens on the battlefield. You can
    deploy only one or a whole squad of Armored Chickens in the same spot. A single
    Armored Chicken has power of 1 point and costs only $1. The chickens also
    protect from attacks coming from a radius of 2 cells around them.</p>

    <h2>Step 3 - Attack phase</h2>

    <p>After you and your opponent have thought out
    your game strategy in the Build phase, you can start with the fun part -
    destroying the enemy’s base. The main goal is to wipe out the enemy’s defending
    units and resources, but in order to do that you can choose different
    strategies. One good strategy for example is to cut off the enemy’s income by
    destroying his Salt Mines first.</p>

    <p>You can attack with two different weapons – Obsessed
    Pigs and Big Bombs.</p>

    <p>A single Obsessed Pig has attack power of 2
    points and costs $7. Quite
    pricey, but pigs who are willing to risk their life in battle are really hard
    to find. The Obsessed Pigs blow themselves up, wiping out everything in a
    radius of 1.5 cells around them, including any unlucky friendly units which
    also happen to be in this radius. Even though you can’t attack your own part
    of the battlefield directly, be careful when placing your units close to the
    border in the middle of the field, because they may end up in a friendly
    attacking unit’s explosion radius. The only thing that can prevent the Obsessed
    Pig from exploding is the Armored Chicken. If the chickens, which are close
    enough to reach the attacking pigs (2 cells around them), have defense power
    higher than the pigs’ attack power, then the pigs are defeated and ashamed, and
    don’t blow up. If the chickens’ defense power is equal or less than the pigs’
    power, then the pigs overwhelm the chickens, wiping out everything in their
    sight (1.5 cells around them).</p>

    <p>The Big Bomb is the ultimate killing weapon
    used by the farmers. Its power is over 9000, so it blows up everything in its
    range. However, with so much power comes great cost. The smallest bomb that can
    be launched affects only 1 cell and costs $10. You can increase the size of the
    bomb, but for every increase with a length of 1 cell around the landing point,
    you have to pay additional $10. The Big Bomb is extremely efficient in clearing
    large squads of defense units and resources placed very close to each other.
    Keep in mind you can use this powerful weapon only once per attack phase.</p>

    <h2>Step 4 - Collect phase</h2>

    <p>In this phase you finally reap what you saw. In
    other words, for every mine that you possess on the battlefield after the
    attacking phase has finished, you collect $10 and with the collected money you
    can build units and attack in the next cycle of phases.</p>

    <h2>Step 5 - Winning the game</h2>

    <p>To win the game and ultimately beat your
    opponent, you have to destroy all of his Armored Chickens and Salt Mines on the
    battlefield. Don’t show mercy… the tide of the battle can always be turned in
    your opponent’s favor.</p>
</article>