*
{
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html
{
    height: 100%;
}
img
{
	border: 0;
}
body
{
    background: url('/Images/main-background.jpg') center top no-repeat #a9a9a9;
}
body, button, input
{
	font: 12px "Segoe UI", "Times New Roman", serif;
}
h1 
{
    font-size: 25px;
    text-align: center;	
}
.left 
{
	float: left;
}
.right 
{
    float: right;
}
.clear 
{
	clear: both;
}
.clearfix:after
{
    content: "";
    display: block;
	clear: both;
	height: 0;
}
p 
{
	margin-top: 10px;
}
ul
{
    list-style-type: none;
}
h3
{
    font-size: 10px;
    text-align: center;
}
.button
{
    display: block;
    width: 300px;
    height: 70px;
    margin: 0 auto 20px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    border: 0;
    background-color: #d24726;
}
    .button:hover, #socialLoginList button:hover, .exLoginList button:hover
    {
        border: 2px solid #fff !important;
    }
.back-button
{
    width: 50px;
    height: 50px;
    background: url('/Images/back.png') right bottom no-repeat;
    position: fixed;
    top: 0;
    left: 0;
}
    .back-button:hover
    {
        background-image: url('/Images/back-hover.png');
    }



#main-container
{
    width: 1300px;
    margin: 0px auto;
    position: relative;
}
#options
{
    width: 340px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(0, 150, 150, 0.8);

}
    #options label
    {
        display: block;
        text-align: center;
    }
#game-id-join
{
    width: 300px;
    margin: 0 auto;
    display: block;
}
#game-wrapper
{
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 1300px;
    height: 700px;
    position: relative;
    background: url('/Images/background.jpg') 0 0 no-repeat;
    border: 2px solid #fff;
}
#game-id-generated, #game-wrapper, #mdl-waiting, #attack-stage-wrapper, #collect-stage-wrapper, #other-player-playing-wrapper
{
    display: none;
}

#hud-container
{
    height: 700px;
    width: 100px;
    float: left;
    border-right: 2px solid #fff;
}
#on-turn-wrapper
{
    width: 100px;
    height: 35px;
    border-bottom: 2px solid #fff;
}
    #on-turn-wrapper h1
    {
        width: 100px;
        font-size: 16px;
        text-align: center;
        height: 25px;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 15px;
    }
#unit-selection
{
    width: 100px;
    height: 304px;
    border-bottom: 2px solid #fff;
    padding: 2px;
}
    #unit-selection h2
    {
        font-size: 13px;
    }
    #unit-selection h4
    {
        font-size: 12px;
        text-align: left;
    }
        #unit-selection h4 > span
        {
            font-size: 11px;
        }
    #unit-selection .unit-wrapper
    {
        width: 100px;
        height: 100px;
        margin-bottom: 20px;
    }
        #unit-selection .unit-wrapper button
        {
            width: 25px;
            float: right;
            height: 20px;
            background-color: #02849a;
            border: 0;
            color: #fff;
            margin-right: 5px;
        }
#value-chicken, #value-pig, #value-mine, #value-bomb
{
    height: 30px;
    width: 25px;
    float: right;
    margin-right: 5px;
    text-align: center;
}
#unit-selection button.small-button
{
    width: 96px;
    height: 20px;
    background-color: #018b14;
    border: 0;
    margin-top: 3px;
}
    #unit-selection button.small-button:hover, #unit-selection .unit-wrapper button:hover
    {
        border: 2px solid #fff;
    }


#players-money
{
    width: 100px;
    height: 60px;
    padding: 2px;
    border-bottom: 2px solid #fff;
}
    
    #players-money h2
    {
        font-size: 14px;
    }
    #players-money span:first-child
    {
        display: inline-block;
        width: 55px;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 16px;
    }
    #first-player-name-money, #second-player-name-money
    {
        font-size: 10px;
    }

#stages
{
    width: 98px;
    height: 168px;
    margin: 0 auto;
    padding: 7px 1px 0 1px;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
    text-align: center;
    font-size: 16px;
}
    #stages li
    {
        width: 100%;
        height: 30px;
        line-height: 30px;
        color: #fff;
        background-color: #808080;
    }
    #stages li.current-stage
    {
        background-color: #02849a;
    }
#next-stage
{
    background-color: #d24726;
    width: 96px;
    height: 50px;
    display: block;
    border: 0;
    margin: 7px auto;
    color: #fff;
    font-weight: bold;
}
    #next-stage:hover
    {
        border: 2px solid #fff;
    }
#game-container
{
    position: absolute;
    width: 987px;
    height: 700px;
    right: 100px;
}



/* init */
#site-wrapper
{
    margin: 10px auto;
    width: 650px;
}
#login
{
    margin-left: 10px;
}
#main-nav
{
    width: 100%;
    margin-top: 10px;
}
.main-nav-box
{
    width: 120px;
    height: 120px;
    margin-left: 10px;
    color: #fff;
    float: left;
    font-size: 18px;
    font-weight: bold;
    border-width: 2px;
}
    .main-nav-box:hover
    {
        border: 2px solid #fff;
        cursor: pointer;
    }
    .main-nav-box a
    {
        display: block;
        width: 100%;
        height: 100%;
        color: #fff;
        padding: 10px;
        text-decoration: none;
    }
    .main-nav-box span
    {
        font-size: 10px;
        color: #afafaf;
    }
    .main-nav-box.red
    {
        background-color: #d24726;
    }
    .main-nav-box.green
    {
        background-color: #018b14;
    }
    .main-nav-box.blue
    {
        background-color: #02849a;
    }

.metro-button
{
    font-size: 14px;
    line-height: 40px;
    height: 40px;
    width: 120px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #027566;
    color: #fff;
    margin-left: 10px;
    text-decoration: none;
    font-weight: bold;
    border: 0;
    display: block;
}
    .metro-button:hover
    {
        border: 2px solid #fff;
    }

/*starting login*/
.userContainer
{
    width: 810px;
    margin: 100px auto 0;
}
    .userContainer fieldset
    {
        margin-top: 10px;
        border: 0;
    }
    .userContainer legend
    {
        display: none;
    }
    .userContainer ul, .userContainer ol
    {
        list-style-type: none;
    }
    .userContainer h2
    {
        color: #313131;
    }
    .userContainer label
    {
        font-size: 14px;
        font-weight: bold;
        color: #fff;
    }
    .userContainer ol li
    {
        margin-bottom: 10px;
    }
    .userContainer *
    {
        display: block;
    }
    .userContainer .checkbox, #RememberMe
    {
        display: inline;
    }
#loginForm, #socialLoginForm, #userRegistration, #changePasswordContainer, .exLoginList
{
    width: 400px;
    height: 400px;
    float: left;
    padding: 10px;
}
#loginForm
{
    background-color: rgba(0, 150, 150, 0.7);
}
    #btnLogin, #btnRegister, #btnChangePassword, #login > .metro-button
    {
        margin-left: 0;
    }
    #loginForm .metro-button
    {
        text-align: center;
    }
#socialLoginForm, .exLoginList
{
    margin-left: 10px;
    background-color: rgba(2, 117, 102, 0.7);
}
    #socialLoginForm button:first-child, .exLoginList button:first-child
    {
        width: 185px;
        height: 185px;
        background: url('/Images/facebook-icon.png') 0 0 no-repeat;
        float: left;
        border: 0;
        color: transparent;
    }
    #socialLoginForm button:last-child, .exLoginList button:last-child
    {
        width: 185px;
        height: 185px;
        background: url('/Images/google-icon.png') 0 0 no-repeat;
        margin-left: 10px;
        float: left;
        border: 0;
        color: transparent;
    }
#userRegistration
{
    background-color: rgba(117, 164, 0, 0.7)
}
#changePasswordContainer
{
    background-color: rgba(2, 132, 154, 0.7)
}
#changePasswordContainer strong
{
    display: inline;
}
#btnChangePassword
{
    width: 141px;
}
#profileDetails
{
    color: #fff;
    padding: 10px;
    width: 200px;
    margin-bottom: 10px;
    background-color: rgba(2, 117, 102, 0.7);
}
#profileDetails h3
{
    text-align: left;
    font-size: 14px;
}
#externalLogins #profileDetails
{
    padding: 0;
    background-color: transparent;
}
#content
{
    width: 640px;
    margin-top: 10px;
    color: #fff;
    margin-left: 10px;
    font-size: 14px;
    background-color: rgba(213, 111, 0, 0.7);
    margin-bottom: 40px;
}
    #content table
    {
        width: 100%;
    }
    #content tr:nth-child(2n+1)
    {
        background-color: rgba(213, 211, 0, 0.7);
    }
#howToArticle, #aboutUs
{
    margin: 10px;
}
#aboutUs h2
{
    text-align: center;
}
    #aboutUs img
    {
        display: block;
        margin: 0 auto;
    }
    #aboutUs a
    {
        color: #fff;
    }
    #aboutUs h3
    {
        margin-top: 20px;
        font-size: 12px;
    }